extends layout 

block content

    div.container
        h2 Organizer Profile
        hr
        p #[strong Name: ] #{organizer.name}
        p #[strong Email: ] #{organizer.email}
        p #[strong Contact: ] #{organizer.phone}

    div.btn-container
            a.btn(href=`/catalog/organizer/${organizer._id}/update`) update
            a.btn(href=`/catalog/organizer/${organizer._id}/delete`) delete 